@charset "UTF-8";

.content {
    margin : 0px 0px 0px 200px;
}

/*title-div*/
#title-div {
    height : 150px;
    padding : 20px;
    border-bottom : 1px solid #e8e8e8; 
}

.title-num {
	height : 100%;
	width : 15%;
	display : inline-block;
}

/*content-div*/
#content-div{
	padding-bottom:  100px;
	background-color:#eaeeee;
}

#content-div ul.body-ul{
	padding:30px 0px 15px;
	display:flex;
	justify-content: space-between;
}

#content-div ul.body-ul > li{
	width: 31%;
	height:330px;
	background-color:#fff;
	color:#444;
	box-shadow: 5px 5px 5px rgba(85, 85, 85, 0.2);
}


#content-div ul.body-ul li:first-child{
    margin-left : 30px;
}

#content-div ul.body-ul li:last-child{
    margin-right : 30px;
}


#content-div ul.body-ul li .body-header {
	padding: 15px 10px 8px 20px;
}

#content-div ul.body-ul li .body-content{
	padding: 0 20px 20px;
	font-size:0.9rem;
	line-height:1.5rem;
}

/*정기구독*/
#content-div ul.body-ul li:nth-child(2) div.body-content{
   padding : 0px;
}

#chart-area {
    width: 47%;
}

#top-sub {
	float : right;
	width: 90%;
	height : 270px;
	border-left : 1px solid #D8D8D8;
	padding : 0px 10px; 
}

.body-tool {
    position: relative;
    float : right;
    left: -10px;
    top: -13px;
}

/*미답변 Q&A*/
#qnaTable {
	width : 100%;
	font-size : 0.85rem;
}

#qnaTable td:first-child {
	width : 15%;
}

.qnaKind {
	background-color :#eeefef;
	padding : 3px 10px;
	border-radius : 7px;
	font-size : 0.8rem;
}

#qnaTable td:last-child {
	width : 25%;
}