@charset "utf-8";
	.content ul{
		width:100%;
		display:flex;
		justify-content: space-between;
		border-bottom:1px solid #e1e4e4;
	}
	.content li{
		widht:100%;
		text-align:center;
		margin:0 1px;		
		width:100%;
		font-size:0.9rem;
		height:40px;
		line-height:40px;
		color:#444;
	}
	.content ul li:nth-child(1),.content ul li:nth-child(2),.content ul li:nth-child(6){
		width:5%;
	}
	.content ul li:nth-child(5){
		width:10%;
	}
    .content ul li:nth-child(3){
		width:25%;
	}
	.content ul li:nth-child(4){
		width:50%;
	}
	
	.notice_title li{
		background:#3498db;
		color:#fff;
		font-size:1rem;
	}
    .clickable {
    	cursor: pointer;
    }
    .active{
    	width:30px;
    	height:30px;
    	background:#3498db;
    	color:white;
    }
    .notice_list{
    	position:relative;
    }
    .notice_list ul li a{
    	color:#444;
    	cursor:pointer;
    }
    #remo{
    	
    	color:#444;
    	font-size:0.93rem;   	
    	width:100%;
    	text-align:center;
    	border-top:1px solid #3498db;
    	padding-top:70px;
    }
    .page-number{
    	padding:5px 8px;
    	margin:0 4px;
    }
    .chkdelete{
    	margin:5px;
    	border:0px;
    	background:#3498db;
    	color:#fff;
    	padding:6.5px 6.5px 8px;
    	border-radius:5px;
    	cursor:pointer;
    	z-index:30;
    }
    .chkinsert{
    	margin:5px;
    	border:0px;
    	background:#3498db;
    	color:#fff;
    	padding:6.5px 6.5px 8px;
    	border-radius:5px;
    	cursor:pointer;
    	z-index:30;
    }
    .update:hover{
        color:#3498db;
		font-weight:bold;
		cursor: pointer;
	 }
    .after, .update_count input{
    	color:#3498db !important;
    	font-size:0.95rem;
    	font-weight:bold;
    	cursor:pointer;
    }
    .notice_default{
		text-align:center;
		border:0px;
		background:none;
		font-size:0.9rem;
		color:#444;
		width:100%;
	}
	.notice_title{
		width:60%;
		text-align:center;
		background:none;/*  background: #e1e4e4; */
		border:0px;
		color:#444;
		padding:5px 0 5px 10px ;
	}
    .notice_content{
    	width:90%;
    	text-align:center;
    	background:none;
	    border:0px;
	    padding:5px 0 5px 10px ;
	    color:#444;
    }
    .notice_date{
    	width:120px;
    	background:none;
    	text-align:center;
    	border:0px;
    	padding:5px 0 5px 10px;
    	color:#444;
    }
    
    
    .upadte_select{
    	border:1px solid #3498db;
    	color:#3498db;
    }
    
	
	
	
	
	
	