@charset "utf-8";
	.content ul{
		width:100%;
		display:flex;
		justify-content: space-between;
		border-bottom:1px solid #e1e4e4;
	}
	.content li{
		widht:100%;
		text-align:center;
		margin:0 1px;		
		width:100%;
		font-size:0.9rem;
		height:40px;
		line-height:40px;
		color:#444;
	}
	.content ul li:nth-child(1),.content ul li:nth-child(2){
		width:4%;
	}
	.content ul li:nth-child(3),.content ul li:nth-child(5){
		width:14.5%;
	}
	.content ul li:nth-child(4),.content ul li:nth-child(6),.content ul li:nth-child(7),.content ul li:nth-child(8),.content ul li:nth-child(9),.content ul li:nth-child(10),.content ul li:nth-child(11){
		width:9%;
	}
	.keep_title{
		border-bottom:0px !important;
	}
	.keep_title li{
		background:#3498db;
		color:#fff;
		font-size:1rem;
	}
    .clickable {
    	cursor: pointer;
    }
    .active{
    	width:30px;
    	height:30px;
    	background:#3498db;
    	color:white;
    }
    .keep_list{
    	position:relative;
    }
    #remo{
    	position:absolute;
    	color:#444;
    	font-size:0.93rem;
    	top:440px;
    	width:100%;
    	text-align:center;
    	border-top:1px solid #3498db;
    	padding-top:70px;
    }
    .page-number{
    	padding:5px 8px;
    	margin:0 4px;
    }
    .chkdelete{
    	position:absolute;
    	top:455px;
    	right:2.2%;
    	border:0px;
    	background:#3498db;
    	color:#fff;
    	padding:6.5px 6.5px 8px;
    	border-radius:5px;
    	cursor:pointer;
    	z-index:30;
    }
    .keep_now{
    	padding:0px 0px 5px;
        border:0px;
    }
    .upadte_select{
    	border:1px solid #aaa;
    	color:#3498db;
    }