@charset "UTF-8";

	.title-text {
		position: absolute;
		right: 0;
		left: 0;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		-webkit-align-items: center;
		-webkit-justify-content: center;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		-moz-box-pack: center;
		-moz-box-align: center;
		-ms-box-pack: center;
		-ms-box-align: center;
	}
	.title-text h2 {
		font-size: 2rem;
		color: #444;
	}
	/*아래의 width로 파란 줄 길이 조절 가능*/
	.title-text h2:before {
		content: '';
		display: block;
		width: 40%;
		height: 6px;
		background-color: #3498db;
		margin-bottom: 6px;
		vertical-align: middle;
	}


	#cart {
		margin-bottom : 300px; 
	}
	.test2{
		padding-top:150px;
	}
	.test2 p{
		color:#3498db;
		font-size:0.9rem;
	}
	

	.cart-div {
    	width : 1200px; 
    	margin : 0 auto; 
		text-align : center; 
		position : relative;
		top : 100px; 
	}
	
	.arrow-img {
		width : 100%;
		margin-bottom:60px;
	}
    
    
    /* 1000px 버튼 */
    .bt_1000 {
		width : 1200px; 
		height : 40px; 
 		background-color : #3498db;
 		color : #eeefef;
 		text-align : center;
 		text-decoration : none;
 		border-radius : 9px; 
 		padding : 8px;
 		font-size : 1.2rem;  
 		border : none; 
		}
 
    .title-text {
      margin-bottom: 100px; 
    }
    
    .title-text h1{
      font-size:2rem;
      color:#444;
    }
    
    .title-text h1:before{
      content:'';
      display:block;
      width:5%;
      height:6px;
      background-color: #3498db;
      margin-bottom:6px;
      margin : auto;	 
      
	 }
	 /*장바구니 비어있는 경우*/
	 .empty_cart {
	 	border: 1px solid white;
	 	padding: 100px;
	 }

	 .empty_cart p {
	 	padding-top: 30px;
	 }

	.goMain {
		border: 1px solid #D8D8D8;
    padding: 12px 45px;
    color: #444;
    background-color: #eeefef;
	}
		
   /* 장바구니 테이블 */
   table.cart_list, 
   table.cart_price  {
    	border-collapse : collapse;
    	border : 1px solid #e1e4e4;
    	margin: 0 auto; 
    	width : 1200px;
    	color:#444;
    	margin-bottom : 50px; 
    }
    
    table.cart_list thead, 
    table.cart_price thead {
    	color :  #eeefef;
    	background-color : #3498db;
    }
    
    table.cart_list thead tr th, 
    table.cart_price thead tr th {
    	height : 50px; 
		}
	
		table.cart_list tbody tr {
    border-bottom: 1px solid #e1e4e4;
    }
	    
    table.cart_list tbody tr td {
    	height : 40px;
    }
		
		
		/*선택 삭제 버튼*/
		.total-button {
			padding-bottom: 70px;
		}

		.total-button a {
			font-size: 0.95rem;
			display: block;
			width: 90px;
			background-color: #e1e4e4;
			color: #444;
			border-radius: 30px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			float: right;
			margin: 0 5px;
		}
	
		.total-button a:hover {
			background-color: #3498db;
			color: #fff;
			transition: all .4s;
		}

    /*td 글씨 크게*/
    .td_big {
    	font-size : 4em;
    	font-weight : 500; 
    }
    
    /*td 글씨 파랑*/
    .td_blue {
    	color : #3498db;
	}
	#pay_price {
		font-size : 1.5rem;
		font-weight : bold; 
	}


	