@charset "UTF-8";
	.title-text { position: absolute; right: 0; left: 0; align-items: center; justify-content: center;
      display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;      
      -webkit-align-items: center; -webkit-justify-content: center; -webkit-box-pack: center; -webkit-box-align: center;
      -moz-box-pack: center; -moz-box-align: center; -ms-box-pack: center; -ms-box-align: center;
   	}
    .title-text h2 { font-size: 2rem; color: #444;}
   /*아래의 width로 파란 줄 길이 조절 가능*/
    .title-text h2:before { content:''; display: block; height: 6px; background-color: #3498db;
		margin-bottom: 6px; vertical-align: middle;	width:60%; }
    
    a{ text-decoration:none; }
	a:link { color: #444; text-decoration: none;}
	a:visited { color: #444; text-decoration: none;}  	
	.faq{ font-size:0.9rem; font-weight:bold; padding-top:150px; }
			
	.tab { text-align:center; color:#444; border:3px solid #e1e4e4; width:1000px; margin:auto; border-bottom:none; }
	
	.tab #tab{ display:flex; justify-content:space-between;}
	
	#tab li { 
	width:100%; box-sizing:content-box; display:inline-block; padding:15px; cursor:pointer; 
			}
	
	
	
	.tab li.on { background-color: #3498db; color:#fff; }
	.tab_con { color:#444; clear:both; padding-top:5px; 
	border:3px solid #ddd; width:1000px; margin:auto; height:400px}
	
	.tab_con div { display:none; height:200px; background:#fff;  text-align:left; }
	.tab_con div > h4 > input{ cursor:pointer; WIDTH:20pt; HEIGHT:17pt;	
	color:white; background-color:#3498db;
	border-top-left-radius: 5px; border-bottom-left-radius: 5px; 
	border-top-right-radius: 5px; border-bottom-right-radius: 5px; border:none;
	outline: none; margin-right: 15px; 
	}
	
	hr { border:0px; height:2px; background-color: #e1e4e4;}
	.tab_con div > h4{ line-height:30px;  }
	
	div > ol {display:none;}
	.ico_ar{ float: right;}
	
		
		
		
		
		
		
		
		
		