@charset "UTF-8";
	
	a { text-decoration:none; color:#000; }
	.tab { color:#444; border:3px solid #ddd; 
	background:#fff; overflow:hidden; width:800px; margin:auto;
	position: relative; left:197px; 
	
	}
	
	
	.tab li { text-align:center; box-sizing:border-box; width:15%;
	color:#444; display:inline-block; padding:11px; cursor:pointer; }
	.tab li.on { background-color: #3498db; color:white; }

	.tab_con { color:#444; clear:both; padding-top:5px; 
	border:3px solid #ddd; width:800px; margin:auto; height:400px}
	
	.tab_con div { display:none; height:212px; background:#fff;  text-align:left; }
	.tab_con div > h4 > input{ cursor:pointer; WIDTH:20pt; HEIGHT:17pt;	
	color:white; background-color:#3498db;
	border-top-left-radius: 5px; border-bottom-left-radius: 5px; 
	border-top-right-radius: 5px; border-bottom-right-radius: 5px; border:none;
	outline: none; margin-right: 15px; 
	}
	
	hr { border:0px; height:2px; background-color: #ddd;}
	.tab_con div > h4{ line-height:30px;  }
	
	div > ol {display:none;}

	.ico_ar{ float: right;}
	
	.about-text p:before
  	{	content:''; display:block; width:5%; height:5px;
   	 	background-color: #3498db; margin-bottom:6px; margin:auto; position: relative; right:3px; }	
	.about-text p
	{	letter-spacing:1px ;/* 글자간의 간격 조절 */
		font-size:2rem; color:#444; font-weight:900;text-align: center; word-spacing: normal; }