@charset "UTF-8";

	.title-text {
		position: absolute;
		right: 0;
		left: 0;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		-webkit-align-items: center;
		-webkit-justify-content: center;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		-moz-box-pack: center;
		-moz-box-align: center;
		-ms-box-pack: center;
		-ms-box-align: center;
	}
	.title-text h2 {
		font-size: 2rem;
		color: #444;
	}
	/*아래의 width로 파란 줄 길이 조절 가능*/
	.title-text h2:before {
		content: '';
		display: block;
		width: 40%;
		height: 6px;
		background-color: #3498db;
		margin-bottom: 6px;
		vertical-align: middle;
	}
	
	/*
	default.css에 body와 a랑 뭐 기타등등 속성들 기본값 저장해놨으니 한번확인해주세요
	content를 미리 해놨기때문에 자동으로 1200px안에 중앙정렬돼서 출력될겁니다. 참고 >_-(찡긋)
	폰트사이즈는 무조건 rem으로 작업해주세요.
	*/ 
	
	
	/*변경된 클래스와 아이디로 작업하세요*/
	#test {
		height:850px;
	}
	.mypage_content{
		width:1035px;
		float:right;
	}
	.mypage_content h2{
		height:130px;
		line-height:130px;
		text-align:center;
		font-size:1.7rem;
		border:3px solid #e1e4e4;
		box-sizing:border-box;
	}
	.mypage_content .mypage_content_cover{
		padding-top:15px;
		height:500px;
	}
    .mypage_content .mypage_content_cover p{
		color:#3498db;
		font-size:0.9rem;
	}
	.mypage_head{
		width:150px;
		box-sizing:border-box;
		float:left;
	}
	.mypage_head > ul > li:nth-child(2){
		border:2px solid #e1e4e4;
		border-top:0px;
		padding-bottom:60px;
	}
	.mypage-title{
        height:130px;
        background-color:#3498db;
        width:100%;
        color:#fff;
        line-height:130px;
        text-align:center;
        font-weight:bold;
        font-size:1rem;
	}
	.mypage_list{
		padding:20px 0 0 15px;
		color:#444;
	}
	.mypage_list li{
		font-size:0.9rem;
		padding-top:5px;
		display:block;
	}
	.mypage_list li:first-child{
		font-weight:bold;
        font-size:0.95rem;
	}

	/*Q&A문의 내역*/
		table.qna{
			border-collapse: collapse;
			border: 2px solid #e1e4e4;
			border-spacing: 0px;
			margin: 0 auto;
			width:1035px;
			color: #444;

		}
		
		table.qna thead{
			background-color: #3498db;
			color:#eeefef;
		}

		table.qna thead th{
			border:1px solid;
			height: 60px;
		}

		table.qna tbody{
			font-size: 0.9rem;
		}

		table.qna tbody tr td{
			border:1px solid #e1e4e4;
			height: 50px;
		}
		.page_a{
			text-align: center;
			
			font-size:15px;
			border: 1px solid #eeefef;
			margin:5px;
			padding:5px;
			background-color: #eeefef;
			font-weight:bold;
			color:#3498db;
		}

		/*
		.page1{
		    padding-left:45%;
			display: inline-block;
			margin-bottom : 50px; 
		}
		*/
		.page1{
			width: 100%;
			position:absolute; top:75rem;
		}
		.page1 table {
			width: 100%;
		}
		.page1 *{
			text-align: center;		
		}
		.page1 table tr td div{
			display: inline-block;
		}
		table.page td a{
			text-decoration: none;
			color:#3498db;
		}



		