@charset "UTF-8";
	.title-text { position: absolute; right: 0; left: 0; align-items: center; justify-content: center;
      display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;      
      -webkit-align-items: center; -webkit-justify-content: center; -webkit-box-pack: center; -webkit-box-align: center;
      -moz-box-pack: center; -moz-box-align: center; -ms-box-pack: center; -ms-box-align: center;
   	}
    .title-text h2 { font-size: 2rem; color: #444;}
   /*아래의 width로 파란 줄 길이 조절 가능*/
    .title-text h2:before { content:''; display: block; height: 6px; background-color: #3498db;
		margin-bottom: 6px; vertical-align: middle;
		width:60%;
		}
    
    a{ text-decoration:none; }
	a:link { color: #444; text-decoration: none;}
	a:visited { color: #444; text-decoration: none;}  	
	.qna { font-size:0.9rem; font-weight:bold; padding-top:150px; }
	
	.qlt1 { width:1000px; background-color:#3498db; align-content: center;
		margin: auto;  border: none; color:#fff; }
	
	.qlt1 tr { vertical-align:middle; height: 30px; }
	
	.qlt2 { width:1000px; margin: auto;  color:#444; border-style:solid;
   	 	border-width: 0.5px 1px;/*상하 ,좌우*/ }
	
	.qlt3 { width:1000px; margin: auto; color:#444; border:none; }
		
	.qlt4 { width:1000px; margin:auto;  border:none; }
	.qlt4_btn {color:#fff; background-color:#3498db; WIDTH: 45pt; HEIGHT: 25pt;
		border-top-left-radius: 5px;  border-bottom-left-radius: 5px;
		border-top-right-radius: 5px;  border-bottom-right-radius: 5px; border: none;
		outline: none; margin-right:10px;  }
	
	.qwt1 { width:1000px; margin:auto; border:1px solid #e1e4e4; border-top: 3px solid #3498db; border-collapse: collapse;}	
	.qwt1 tr td { border: 2px solid #e1e4e4; padding:8px; }	
	.qwt1h { display:none; }
	
 	.qvt1 { width:1000px; margin: auto; color:#444; 
 		 border-top: 3px solid #3498db; border-collapse: collapse;}
	.qvt1 tr td { border:2px solid #e1e4e4; border-left:0px; border-right:0px; 
	padding:8px; }
	
	#td1 { color:#3498db; border: none; padding-top:15px; }
	#td2 { border: none; padding:15px; letter-spacing: 1px; }
	
	.qvt2 { width:1000px; margin: auto; color:#444; 
	border: 2px solid #e1e4e4; border-left: 0px; border-right: 0px; 
	border-bottom: 3px solid #3498db;
	}
	
  	.qvt3 { width:1000px; margin: auto; border: none; margin-top: 10px; color:#444; }
			
	 button { color:#fff; background-color:#3498db; WIDTH: 43pt; HEIGHT: 22pt;
		border-top-left-radius: 5px;  border-bottom-left-radius: 5px; 		
		border-top-right-radius: 5px; border-bottom-right-radius: 5px;
		border: none; outline: none; margin: 3px; }
		
	 #btn1 {float: right; }		
		
			
	#comment_form{ width:1000px; margin:auto; color:#444; }
	.cf_t1{ padding:8px; border:3px solid #e1e4e4; width: 1000px;}
	#cf_label { text-align:left; padding-left:10px; padding:auto;}
	.textarea{ margin:10px; border:1px solid #e1e4e4; resize:none; font-family :"Nanum Gothic"; letter-spacing:1px; }
	#cf_content { border:1px solid #e1e4e4; }	
	
	#cf_insertbtn {		
		color:#fff; background-color:#3498db; WIDTH: 43pt; HEIGHT: 22pt;
		border-top-left-radius: 5px; border-bottom-left-radius: 5px; 
		border-top-right-radius: 5px; border-bottom-right-radius: 5px;
		border: none; outline: none; float:right; margin-rigth:20px;
	}
		
	.comment_list{ width:1000px; margin: auto; color:#444;}	
	.comment_list td{ line-height:21px; padding-left: 0px;}
	#cl_td1{ padding:8px; border-top:3px solid #e1e4e4; }
	#cl_td2{ border-bottom:3px solid #e1e4e4; }	
	#td3{ color:#3498db; text-align:right; padding-left:15px;}		
	.cdbtn{ float: right; }
        
	.qut1{ width:1000px; margin:auto; color:#444; }
  	.qut2{ width:1000px; margin:auto; color:#444; text-align: end;}
	
	
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      