@charset "UTF-8";	
	.title-text { position: absolute; right: 0; left: 0; align-items: center; justify-content: center;
      display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;      
      -webkit-align-items: center; -webkit-justify-content: center; -webkit-box-pack: center; -webkit-box-align: center;
      -moz-box-pack: center; -moz-box-align: center; -ms-box-pack: center; -ms-box-align: center;
   	}
    .title-text h2 { font-size: 2rem; color: #444;}
   /*아래의 width로 파란 줄 길이 조절 가능*/
    .title-text h2:before { content:''; display: block; height: 6px; background-color: #3498db;
		margin-bottom: 6px; vertical-align: middle;
		width:60%;
		}
    
    a{ text-decoration:none; }
	a:link { color: #444; text-decoration: none;}
	a:visited { color: #444; text-decoration: none;}  	
	.review { font-size:0.9rem; font-weight:bold; padding-top:150px; }	
 	
 	.r_content{ margin:auto; width: 1000px; }
  	
  	.starR1 {
  	background: url('../images/r_star.png') no-repeat -51px 0;
    background-size: auto 100%; width: 15px; height: 30px; float: left; text-indent: -9999px; cursor: pointer;
        }

    .starR2 {
	background: url('../images/r_star.png') no-repeat right 0;
	background-size: auto 100%; width: 15px;height: 30px;float: left; text-indent: -9999px;cursor: pointer;
        }
    .starR1.on { background-position: 0 0; }
    .starR2.on { background-position: -15px 0; }
    
    
  	.starR3 {
  	background: url('../images/r_star.png') no-repeat -34px 0;
    background-size: auto 100%; width: 10px; height: 20px; float: left; text-indent: -9999px; 
        }

    .starR4 {
	background: url('../images/r_star.png') no-repeat right 0;
	background-size: auto 100%; width: 10px;height: 20px;float: left; text-indent: -9999px;
        }
    .starR3.on { background-position: 0 0; }
    .starR4.on { background-position: -10px 0; }	


	.r_notice { background-color:#3498db; color: #fff; border-top-left-radius: 5px;  border-bottom-left-radius: 5px;
   		border-top-right-radius: 5px; border-bottom-right-radius: 5px;
   		border: none; outline: none; padding: 5px;}    
   	
   	button { color: #fff; background-color: #3498db; WIDTH:50pt; HEIGHT:20pt;
   		border-top-left-radius: 5px;  border-bottom-left-radius: 5px;
   		border-top-right-radius: 5px; border-bottom-right-radius: 5px;
   		border: none; outline: none;
   	}
   	#cbtn { color: #fff; background-color: #3498db; WIDTH:50pt; HEIGHT:20pt;
   		border-top-left-radius: 5px;  border-bottom-left-radius: 5px;
   		border-top-right-radius: 5px; border-bottom-right-radius: 5px;
   		border: none; outline: none; margin-right: 10px
   	}   	 	
  	
  	.re2{margin:auto; width:1000px; }
  	
  	.re2_t1{ border-top: 3px solid #e1e4e4; border-bottom: 3px solid #e1e4e4; 
  	margin:auto; width:1000px; margin-top: 15px;}
  	  	
  	.re2_t1 td{ border: 1px solid #e1e4e4; 
  	}
  
  	
  	
  	
  	
	
    