@charset "UTF-8";

.title-text {
   position: absolute;
   right: 0;
   left: 0;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   align-items: center;
   justify-content: center;
   -webkit-align-items: center;
   -webkit-justify-content: center;
   -webkit-box-pack: center;
   -webkit-box-align: center;
   -moz-box-pack: center;
   -moz-box-align: center;
   -ms-box-pack: center;
   -ms-box-align: center;
}

.title-text h2 {
   font-size: 2rem;
   color: #444;
}

/*아래의 width로 파란 줄 길이 조절 가능*/
.title-text h2:before {
   content: '';
   display: block;
   width: 40%;
   height: 6px;
   background-color: #3498db;
   margin-bottom: 6px;
   vertical-align: middle;
}

/* div-1000 */
.div-1000 {
   margin: auto;
}

.sub-div {
   padding-top: 100px;
}

/*정기구독*/
.p_subtitle {
   color: #444;
   margin-bottom: 30px;
}

/* 정기구독 테이블 : sub_table */
table.sub_table {
   border-collapse: collapse;
   border: 1px solid #eeefef;
   border-spacing: 0px;
   margin: 0 auto;
   width: 1200px;
   color: #444;
}

table.sub_table thead {
   background-color: #3498db;
   opacity: 0.95;
   color: #eeefef;
}

table.sub_table thead tr td {
   height: 50px;
}


table.sub_table tbody tr td {
   height: 60px;
}

p.sub_title {
   font-weight: bold;
   color: #444;
   margin-top: 50px;
   margin-bottom: 10px;
   font-size: 1.2rem;
   padding-left: 15px;
}

.pay_button {
    font-size: 0.9rem;
    display: block;
    width: 70px;
    background-color: #eeefef;
    color: #444;
    height: 40px;
    line-height: 40px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.pay_button:hover {
   background-color : #e0e2e2; 
}

.origin_price {
    float: left;
    font-size: 0.9rem;
    text-decoration: line-through;
    margin-left: 40px;
    color : #6E6E6E;
}

.sale_price {
   font-size : 1.2rem;
   font-weight: bold;
}

.hh {
   color : red; 
}

.kk {
   color : blue; 
}

