@charset "UTF-8";

   .title-text {
      position: absolute;
      right: 0;
      left: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      -moz-box-pack: center;
      -moz-box-align: center;
      -ms-box-pack: center;
      -ms-box-align: center;
   }
   .title-text h2 {
      font-size: 2rem;
      color: #444;
   }
   /*아래의 width로 파란 줄 길이 조절 가능*/
   .title-text h2:before {
      content: '';
      display: block;
      width: 40%;
      height: 6px;
      background-color: #3498db;
      margin-bottom: 6px;
      vertical-align: middle;
   }
   
   /*
   default.css에 body와 a랑 뭐 기타등등 속성들 기본값 저장해놨으니 한번확인해주세요
   content를 미리 해놨기때문에 자동으로 1200px안에 중앙정렬돼서 출력될겁니다. 참고 >_-(찡긋)
   폰트사이즈는 무조건 rem으로 작업해주세요.
   */ 
   
   /**/
   
   /*변경된 클래스와 아이디로 작업하세요*/
   #order_success {
      margin-bottom : 300px; 
   }
   .notice{
      padding-top:150px;
   }
   .notice p{
      color:#3498db;
	  font-size:0.9rem;
	  float : left; 
   }

	
   .div-1000 {
    	width : 1000px; 
    	margin : 0 auto; 
		text-align : center;
		position : relative;
		top : 100px;  
    }   
    
    .div-1000 hr {
    	border : solid 3px #3498db;
    	align : center;
    	margin-bottom : 100px; 
    }
    
    .div-1000 h1 {
    	font-size : 2.5rem;
    	color:#444;
    	margin-bottom : 30px; 
    	
    }
    
	.arrow-img {
		margin-bottom: 50px; 

	}
    
   .service_btn {
		margin : auto; 
		margin-top : 50px;
		display : block;  
   }
    
    /* 주문번호 */
    .p_orderNum {
    	color : #3498db;
    	margin-top : 0;
		margin-bottom : 100px; 
		font-weight : 500; 
		
	}
	
	/* 주문 완료 테이블 : order_success_table 
	   구독 완료 테이블 : sub_success_table */ 
   table.order_success_table,
   table.sub_success_table {
    	border-collapse : collapse;
    	border : 1px solid #e1e4e4;
    	margin: 0 auto; 
    	width : 1000px;
    	color:#444;
    }
	
	/*주문 완료*/
    table.order_success_table thead {
    	color :  #eeefef;
    	background-color : #3498db
    }
    
    table.order_success_table thead tr th, 
    table.sub_success_table thead tr th {
    	height : 50px; 
    }
    
    table.order_success_table tbody tr td, 
    table.sub_success_table tbody tr td {
    	height : 35px; 
	}


	/*구독 완료*/
	table.sub_success_table thead {
		color :  #eeefef;
	}



	
   
   