@charset "utf-8";

#title {
	height: 148px;
}
.title-text {
	position: absolute;
	right: 0;
	left: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-moz-box-pack: center;
	-moz-box-align: center;
	-ms-box-pack: center;
	-ms-box-align: center;
}

.title-text h2 {
	font-size: 2rem;
	color: #444;
}
/*아래의 width로 파란 줄 길이 조절 가능*/
.title-text h2:before {
	content: '';
	display: block;
	width: 40%;
	height: 6px;
	background-color: #3498db;
	margin-bottom: 6px;
	vertical-align: middle;
}

/*
   default.css에 body와 a랑 뭐 기타등등 속성들 기본값 저장해놨으니 한번확인해주세요
   content를 미리 해놨기때문에 자동으로 1200px안에 중앙정렬돼서 출력될겁니다. 참고 >_-(찡긋)
   폰트사이즈는 무조건 rem으로 작업해주세요.
   */

/*변경된 클래스와 아이디로 작업하세요*/


#test .content{
	width: 800px;
	height: 700px;
	background-color: #f7df9740;
}

.test p {
	color: #3498db;
	font-size: 0.9rem;
}

   
   