@charset "UTF-8";
	
	body {
		background : url(../images/back_sub.jpg) center fixed; 
	}

   .title-text {
      position: absolute;
      right: 0;
      left: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      -moz-box-pack: center;
      -moz-box-align: center;
      -ms-box-pack: center;
      -ms-box-align: center;
   }
   .title-text h2 {
      font-size: 2rem;
      color: #444;
   }
   /*아래의 width로 파란 줄 길이 조절 가능*/
   .title-text h2:before {
      content: '';
      display: block;
      width: 40%;
      height: 6px;
      background-color: #3498db;
      margin-bottom: 6px;
      vertical-align: middle;
   }

	/* div-1000 */
    .div-1000 {
		width : 1000px;
		margin : auto;  
	}   
	
	/*정기구독*/
	.p_title {
		color : #eeefef;
		margin-top : 150px; 
		margin-bottom: 50px;
		margin-bottom : 30px; 
		text-align : center;
		font-size : 2.5rem;
		font-weight: 1000;
	}

	.p_subtitle {
		color : #eeefef;
		margin-bottom: 30px; 
	}
    
    /* 정기구독 테이블 : sub_table */
    table.sub_table {
    	border-collapse : collapse;
    	border : 1px solid #eeefef;
		border-spacing: 0px;
		margin: 0 auto; 
    	width : 1000px; 
    	color : #444; 
    }
    
    table.sub_table thead {
    	background-color : #eeefef;
    	opacity : 0.95; 
    }
    
    table.sub_table thead tr td {
    	height : 50px; 
    }
    
    table.sub_table tbody {
    	background-color : #eeefef;
    	opacity : 0.7;
    	font-size : 10pt; 
    }
    
    table.sub_table tbody tr td {
    	height : 60px; 
    }
    
    p.sub_title {
		color : #eeefef;
		margin-top : 50px; 
    	margin-bottom : 2px; 
	}
	
	