<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.FaqMapper">
	<resultMap type="com.spring.community.FaqVO" id="faqMap">
		<result property="faq_num" column="faq_num"/>
		<result property="faq_cate" column="faq_cate"/>
		<result property="faq_title" column="faq_title"/>
		<result property="faq_content" column="faq_content"/>
		<result property="faq_date" column="faq_date"/>			
	</resultMap>

	<select id="getFaqList" parameterType="com.spring.community.FaqVO" resultType="com.spring.community.FaqVO">
		select * from FAQ order by faq_num asc		
	</select>
		
	<select id="getMaxNum" resultType="int">
		select max(faq_num) from faq
	</select>
	
	<insert id="faqInsert" parameterType="com.spring.community.FaqVO">
		insert into faq values 
		(
		#{faq_num}, 
		#{faq_cate}, 
		#{faq_title},
		#{faq_content},		
		sysdate
		)		
	</insert>
	
	<update id="faqModify" parameterType="com.spring.community.FaqVO">
		update QNA set
		QNA_TYPE=#{QNA_TYPE,jdbcType=VARCHAR},
		ORDER_NUM=#{ORDER_NUM},
		QNA_TITLE=#{QNA_TITLE,jdbcType=VARCHAR}, 		
		QNA_CONTENT=#{QNA_CONTENT,jdbcType=VARCHAR},
		QNA_FILE=#{QNA_FILE,jdbcType=VARCHAR}, 
		QNA_CHECK=#{QNA_CHECK,jdbcType=VARCHAR},	
		QNA_SCR=#{QNA_SCR,jdbcType=VARCHAR},	
		QNA_PASS=#{QNA_PASS,jdbcType=VARCHAR}	
		where QNA_NUM=#{QNA_NUM}
	</update>
	
	<delete id="faqDelete" parameterType="com.spring.community.FaqVO">
		delete from QNA where QNA_NUM = #{QNA_NUM}
	</delete>	





</mapper>




















