<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.FaqMapper">
	<resultMap type="com.spring.setak.FaqVO" id="faqMap">
		<result property="faq_num" column="faq_num"/>
		<result property="faq_cate" column="faq_cate"/>
		<result property="faq_title" column="faq_title"/>
		<result property="faq_content" column="faq_content"/>
		<result property="faq_date" column="faq_date"/>			
	</resultMap>

	<select id="getFaqList" parameterType="com.spring.setak.FnaVO" resultMap="faqMap">
		SELECT * FROM (SELECT faq_num, faq_cate, faq_title, faq_content,faq_date FROM 
		(SELECT * FROM FAQ ORDER BY faq_num ASC ))		 
	</select>

</mapper>




























