<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.NoticeMapper">
	
	<resultMap type="com.spring.community.NoticeVO" id="noticeMap">
		<result property="notice_num" column="notice_num"/>
		<result property="notice_title" column="notice_title"/>
		<result property="notice_content" column="notice_content"/>		
		<result property="notice_date" column="notice_date"/>	
	</resultMap>
	
	
	<select id="getNoticeList" parameterType="com.spring.community.NoticeVO" resultMap="noticeMap">
<![CDATA[ select * from(select rownum rnum, NOTICE_NUM, NOTICE_TITLE, NOTICE_CONTENT, 
NOTICE_DATE from (select * from NOTICE order by  NOTICE_NUM desc)) 
where rnum>=#{arg0} and rnum<=#{arg1}]]>
	</select>
	
	<select id="getListCount" resultType="int">
		select count(*) from NOTICE
	</select>

	<select id="getDetail" parameterType="com.spring.community.NoticeVO" resultType="com.spring.community.NoticeVO">
		select * from NOTICE where NOTICE_NUM = #{NOTICE_NUM}
	</select>
			
	<insert id="noticeInsert" parameterType="com.spring.community.NoticeVO">
		insert into NOTICE values(#{NOTICE_NUM}, #{NOTICE_TITLE, jdbcType=VARCHAR},
		#{NOTICE_CONTENT, jdbcType=VARCHAR}, sysdate)	
	</insert>
	<update id="noticeModify" parameterType="com.spring.community.NoticeVO">
		update NOTICE set NOTICE_TITLE=#{NOTICE_TITLE}, 
		NOTICE_CONTENT=#{NOTICE_CONTENT, jdbcType=VARCHAR} 
		where  NOTICE_NUM=#{NOTICE_NUM}
	</update>

	<delete id="noticeDelete" parameterType="com.spring.community.NoticeVO">
		delete from NOTICE where NOTICE_NUM = #{NOTICE_NUM}
	</delete>

	<select id="getMaxNum" resultType="int">
		select max(NOTICE_NUM) from NOTICE
	</select>
	
<!-- 어드민 Mapper -->
	<select id="ad_noticeList" parameterType="com.spring.community.NoticeVO" resultMap="noticeMap">
		SELECT * FROM notice ORDER BY notice_num desc       		
	</select>	
	
	

</mapper>

