<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.QnaMapper">

	<resultMap type="com.spring.community.QnaVO" id="qnaMap">
		<result property="qna_num" column="qna_num"/>
		<result property="member_id" column="member_id"/>
		<result property="qna_type" column="qna_type"/>
		<result property="order_num" column="order_num"/>
		<result property="qna_title" column="qna_title"/>
		<result property="qna_content" column="qna_content"/>
		<result property="qna_date" column="qna_date"/>
		<result property="qna_file" column="qna_file"/>
		<result property="qna_check" column="qna_check"/>
		<result property="qna_scr" column="qna_scr"/>
		<result property="qna_pass" column="qna_pass"/>
	</resultMap>
	
	<select id="getListCount" resultType="int">
		SELECT COUNT(*) FROM QNA
	</select>
	
	<select id="getQnaList" parameterType="com.spring.community.QnaVO" resultMap="qnaMap">
		<![CDATA[SELECT * FROM (SELECT rownum rnum, qna_num, member_id, qna_type,
		 qna_title, qna_content, qna_date, qna_file, qna_check, qna_scr, qna_pass FROM (SELECT * FROM QNA ORDER BY QNA_NUM desc ))
		 WHERE rnum>=#{arg0} and rnum<=#{arg1}]]>
	</select>
	
	<select id="onList" parameterType="String" resultType="com.spring.community.QnaVO">
		select order_num from memberorder where member_id=#{member_id}
	</select>
	
	<select id="getDetail" parameterType="com.spring.community.QnaVO" resultType="com.spring.community.QnaVO">
		select * from QNA where qna_num = #{qna_num}
	</select>
			
	<insert id="qnaInsert" parameterType="com.spring.community.QnaVO">
		insert into QNA values 
		(
		QNA_SEQ.NEXTVAL, 
		#{member_id, jdbcType=VARCHAR}, 
		#{qna_type, jdbcType=VARCHAR},
		#{order_num},
		#{qna_title, jdbcType=VARCHAR},
		#{qna_content, jdbcType=VARCHAR}, 
		sysdate, 
		#{qna_file,jdbcType=VARCHAR}, 
		#{qna_check,jdbcType=VARCHAR},			
		#{qna_scr,jdbcType=VARCHAR},
		#{qna_pass,jdbcType=VARCHAR}
		)		
	</insert>
	
	<update id="qnaModify" parameterType="com.spring.community.QnaVO">
		update QNA set
		qna_type=#{qna_type,jdbcType=VARCHAR},
		order_num=#{order_num},
		qna_title=#{qna_title,jdbcType=VARCHAR}, 		
		qna_content=#{qna_content,jdbcType=VARCHAR},
		qna_file=#{qna_file, jdbcType=VARCHAR}, 
		qna_check=#{qna_check,jdbcType=VARCHAR},	
		qna_scr=#{qna_scr,jdbcType=VARCHAR},	
		qna_pass=#{qna_pass,jdbcType=VARCHAR}	
		where qna_num=#{qna_num}
	</update>
	
	<delete id="qnaDelete" parameterType="com.spring.community.QnaVO">
		delete from QNA where qna_num = #{qna_num}
	</delete>	
	
	<select id="qnaPassChk" parameterType="int" resultType="String">
		select qna_pass from qna where qna_num=#{qna_num}
	</select> 
	
	<select id="ad_qnalist" parameterType="com.spring.community.QnaVO" resultMap="qnaMap">
		select * from qna order by qna_num desc 		 
	</select>
	
	<!-- 기응 -->
	
	<select id="selectQnalist" parameterType="HashMap" resultMap="qnaMap">
		<![CDATA[SELECT * FROM (SELECT rownum rnum, QNA_NUM, MEMBER_ID, QNA_TYPE, ORDER_NUM,
		 QNA_TITLE, QNA_CONTENT, QNA_DATE, QNA_FILE, QNA_CHECK FROM (SELECT * FROM QNA ORDER BY QNA_NUM desc))
		 WHERE rnum>=#{startrow} and rnum<=#{endrow} and member_id = #{member_id}]]>
	</select>
</mapper>


